:root{
	--gris: #383B3D;
}
.menu .a_class{
	list-style: none;
	transition: all 0.4s ease;
}
.menu .a_class:hover {
	background: #9AA1A5;
}
#sidebar-container{
	min-height: 100vh;
}
#sidebar-container .logo{
	padding: .875rem 1.25rem;
}

#sidebar-container .menu{
	width: 16rem;
}
.bg-dark {
	background-color: var(--gris) !important;
}